#main {
    display: flex;
    flex-flow: wrap;
}

label, p {
    font-size: 18px;
}

.left-panel {
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
    flex: 1 2 200px;
    order: 1;
}

#api, #city, #latitude, #longitude, .buttons-row {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    row-gap: 10px;
    column-gap: 20px;
}

#city, #latitude, #longitude, .buttons-row {
    margin-top: 10px;
}

#api_key_input, #city_name_input {
    flex: 1 0 50%;
}

#copyright {
    margin-top: 10px;
    display: flex;
}

#copyright a.email {
    color: #000000;
    text-decoration: underline;
}

.right-panel {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
    flex: 3 0 500px;
    order: 2;
}

.right-panel div {
    margin-top: 0;
}

@media (min-width: 723px) {
    .right-panel div {
        margin-top: 25px;
    }
}

button {
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    padding-left:20px;
    padding-right:20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
#cityBtn:active, #latLonBtn:active, #geoBtn:active {
	position:relative;
	top:1px;
}

#cityBtn, #latLonBtn {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
}
#cityBtn:hover, #latLonBtn:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}

#geoBtn {
	box-shadow:inset 0px -3px 7px 0px #29ff7d;
	background:linear-gradient(to bottom, #2df97b 5%, #05a823 100%);
	background-color:#2df97b;
}
#geoBtn:hover {
	background:linear-gradient(to bottom, #05a823 5%, #2df97b 100%);
	background-color:#05a823;
}

#cityBtn:disabled, #latLonBtn:disabled, #geoBtn:disabled {
	box-shadow: inset 0px -3px 7px 0px #cccccc;
	background: linear-gradient(to bottom, #e0e0e0 5%, #c0c0c0 100%);
	background-color: #e0e0e0;
	color: #8a8a8a; /* A soft gray text color for disabled */
	cursor: not-allowed;
}

#cityBtn:disabled:hover, #latLonBtn:disabled:hover, #geoBtn:disabled:hover {
	background: linear-gradient(to bottom, #c0c0c0 5%, #e0e0e0 100%);
	background-color: #c0c0c0;
}

a {
    text-decoration: none;
}
