{% extends "base.html" %}

{% block content %}
<div id="main">
    <div class="left-panel">
        <p>Enter a city name&mdash;followed by an optional U.S. state name,
            <a href="https://en.wikipedia.org/wiki/U.S._postal_abbreviations" target="_blank">two-letter U.S. state code</a>,
            <a href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3" target="_blank">three-letter country code</a>,
            or country name&mdash;or latitude and longitude coordinates to get the latest weather. Examples:</p>
        <ul>
            <li>Honolulu, Hawaii</li>
            <li>Parkersburg, WV</li>
            <li>Alexandria, EGY</li>
            <li>Memphis, Egypt</li>
        </ul>
        <div id="api">
            <label for="api_key_input">API Key:</label>
            <input id="api_key_input" type="text" placeholder="" />
        </div>
        <div id="city">
            <label for="city_name_input">City Name:</label>
            <input id="city_name_input" type="text" placeholder="Puyallup, WA" />
        </div>
        <div class="buttons-row">
            <button id="cityBtn" onclick="getCurrentWeatherCity()"><i class="fa-solid fa-city"></i> Update</button>
        </div>
        <div id="latitude">
            <label for="latitude_input">Latitude:</label>
            <input id="latitude_input" type="text" placeholder="47.1854" />
        </div>
        <div id="longitude">
            <label for="longitude_input">Longitude:</label>
            <input id="longitude_input" type="text" placeholder="122.2929" />
        </div>
        <div class="buttons-row">
            <button id="latLonBtn" onclick="getCurrentWeatherLatLon()"><i class="fa-solid fa-globe"></i> Update</button>
            <button id="geoBtn" onclick="useGeolocation()"><i class="fa-solid fa-map-marker"></i> Use Geolocation</button>
        </div>
        <div id="copyright">
            <p><small>Copyright &copy; <span id="year"></span> <a class="email" href="https://bjdelacruz.dev" target="_blank">BJ Peter Dela Cruz</a></small></p>
        </div>
    </div>
    <div class="right-panel">
        <div id="message"></div>
        <div id="generated_content"></div>
        <div id="error"></div>
    </div>
</div>
{% endblock %}